<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <img src="img/logo.png" alt="logo">
                    </div>
                    <p>Solusi Pinjaman Praktis di Genggamanmu!</p>
                    <div class="footer-link">
                        <a href="#" target="_blank">
                            <img src="img/logo_google_play.png" alt="google image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-90">
                    <h3>Company</h3>
                    <ul>
                        <li><a routerLink="."><i class="flaticon-right"></i> Advertise</a></li>
                        <li><a routerLink="."><i class="flaticon-right"></i> Support</a></li>
                        <li><a routerLink="."><i class="flaticon-right"></i> Marketing</a></li>
                        <li><a routerLink="."><i class="flaticon-right"></i> Bonus</a> </li>
                        <li><a routerLink="."><i class="flaticon-right"></i> Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-90">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><span (click)="onClick('home')"><i class="flaticon-right"></i> Home</span></li>
                        <li><span (click)="onClick('home')"><i class="flaticon-right"></i> Features</span></li>
                        <li><span (click)="onClick('home')"><i class="flaticon-right"></i> Screenshots</span></li>
                        <li><span (click)="onClick('home')"><i class="flaticon-right"></i> Pricing</span></li>
                        <li><span (click)="onClick('home')"><i class="flaticon-right"></i> Testimonial</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-90">
                    <h3>Social Pages</h3>
                    <ul>
                        <li><a href="https://web.facebook.com/rizaldypardede.itama" target="_blank"><i class="flaticon-right"></i> Facebook</a></li>
                        <li><a href="https://x.com/PardedeRizaldi" target="_blank"><i class="flaticon-right"></i> Twitter</a></li>
                        <li><a href="https://www.linkedin.com/in/rizaldi-pardede-7b5708261/" target="_blank"><i class="flaticon-right"></i> Linkedin</a></li>
                        <li><a href="https://www.instagram.com/rizaldipardede/" target="_blank"><i class="flaticon-right"></i> Instagram</a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                
                
            </div>
        </div>
    </div>
</footer>