<div id="home" class="main-banner banner-style-two banner-bg-two">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-text">
                    <h1>Pinjem<span class="highlight-fin">Fin</span></h1>
                    <p>PinjemFin adalah aplikasi peminjaman online yang dirancang untuk memberikan solusi keuangan secara cepat, mudah, dan aman. Cocok digunakan oleh siapa saja yang membutuhkan dana tambahan dalam waktu singkat — kapanpun dan di manapun. Dengan antarmuka yang simpel dan proses transaksi yang cepat, PinjemFin hadir sebagai partner keuangan andalan Anda dalam situasi darurat atau kebutuhan mendesak.</p>
                    <div class="banner-btn">
                        <a (click)="onClick('sass-one-apps')" href="javascript:void(0)">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-image-two">
        <img src="img/sass-landing/laptop-logo.png" alt="laptop">
        <img src="img/sass-landing/phone.png" alt="iphone" class="phone-img">
        <img src="img/shape/home-shape-three.png" alt="shape">
    </div>
    <div class="banner-shape">
        <img src="img/shape/home-shape.png" alt="shape">
        <img src="img/shape/home-shape-two.png" alt="shape">
        <img src="img/shape/home-shape-four.png" alt="shape">
        <img src="img/shape/home-shape-three.png" alt="shape">
    </div>
</div>