<div id="apps" class="our-apps pb-100">
  <div class="container">
    <div class="row align-items-center">

      <!-- Gambar Aplikasi -->
      <div class="col-lg-5">
        <div class="our-apps-img">
          <img src="img/sass-landing/phone.png" alt="iphone" />
        </div>
      </div>

      <!-- Teks dan Tombol Aplikasi -->
      <div class="col-lg-7">
        <div class="our-apps-text">
          <div class="section-title text-start">
            <span>Pinjem Fin</span>
            <h2> Solusi Pinjaman Praktis di Genggamanmu!</h2>
          </div>
          <p>
            Nikmati kemudahan mengajukan pinjaman kapan saja, di mana saja langsung dari smartphone kamu.
            Pinjem Fin hadir untuk membantumu mengatur keuangan dengan cepat, aman, dan transparan.
          </p>
          <div class="our-apps-btn">
            <a href="#" target="_blank" class="active">
              <i class="flaticon-playstore"></i>
              <p>Dapat kan di</p>
              <h5>Google Play</h5>
            </a>
            
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Elemen Dekoratif -->
  <div class="apps-shape">
    <img src="img/shape/1.png" alt="shape" />
    <img src="img/shape/3.png" alt="shape" />
    <img src="img/shape/5.png" alt="shape" />
    <img src="img/shape/6.png" alt="shape" />
    <img src="img/map-two.png" alt="shape" />
  </div>
</div>
