<div id="about" class="why-choose why-choose-two pt-100 pb-70">
    <div class="container-fluid">
        <div class="section-title text-center">
            <span>Kenapa Harus Memilih kami?</span>
            <h2>Kami Selalu Memberikan kualitas yang terbaik</h2>
            <p>kami selalu berusaha mempermudah transaksi dimana dan kapan saja.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="why-choose-img">
                    <img src="img/sass-landing/showcase.png" alt="why choose image">
                </div>
            </div>
            <div class="col-lg-5">
                <div class="why-choose-text">
                    <div class="media d-flex">
                        <i class="flaticon-computer mr-3"></i>
                        <div class="media-body">
                            <h3 class="mt-0">Akses Kapan Saja, Di Mana Saja</h3>
                            <p>PinjemFin tersedia 24/7, memungkinkan Anda untuk mengajukan pinjaman sesuai kebutuhan Anda, tanpa terikat waktu atau lokasi.</p>
                            
                        </div>
                    </div>
                    <div class="media d-flex">
                        <i class="flaticon-layers mr-3"></i>
                        <div class="media-body">
                           <h3 class="mt-0">Tanpa Jaminan</h3>
                            <p>Tidak diperlukan agunan untuk mengajukan pinjaman. Cukup dengan data pribadi yang valid, Anda dapat mengakses dana yang dibutuhkan.</p> 
                        </div>
                    </div>
                    <div class="media d-flex">
                        <i class="flaticon-countdown mr-3"></i>
                        <div class="media-body">
                            <h3 class="mt-0">Proses Cepat dan Simpel</h3>
                            <p>Ajukan pinjaman hanya dengan beberapa langkah mudah melalui aplikasi. Tidak perlu dokumen fisik atau proses yang rumit. Tinggal Upload foto KTP, NPWP dan Kartu Keluarga</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shapes">
            <img src="img/shape/1.png" alt="shape">
            <img src="img/shape/2.png" alt="shape">
            <img src="img/shape/3.png" alt="shape">
            <img src="img/shape/4.png" alt="shape">
            <img src="img/shape/5.png" alt="shape">
            <img src="img/shape/6.png" alt="shape">
            <img src="img/shape/7.png" alt="shape">
        </div>
    </div>
</div>