<div id="testimonials" class="testimonial-section pb-100">
    <div class="container-fluid">
        <div class="section-title">
            <span>Testimoni</span>
            <h2>Kata orang tentang PinjemFin</h2>
            <p>Kami menghargai apa yang dikatakan klien dan pengguna kami tentang kami. Kami selalu siap untuk meningkatkan layanan dan melayani Anda.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="testimonial-img">
                    <img src="img/app-landing/map.png" alt="map image">
                    <div class="client-img">
                        <img src="img/testi/farhan.jpg" alt="client image">
                        <img src="img/testi/arda.jpg" alt="client image">
                        <img src="img/testi/arya.jpg" alt="client image">
                        <img src="img/testi/dhito.jpg" alt="client image">
                        <img src="img/testi/julius.jpg" alt="client image">
                        <img src="img/testi/ray.jpg" alt="client image">
                        <img src="img/testi/alif.jpg" alt="client image">
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="testimonial-slider">
                    <owl-carousel-o [options]="testimonialSlides">
                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <img src="img/testi/farhan.jpg" alt="client image">
                                <div class="client-info">
                                    <h3>Farhan Putra</h3>
                                    <span>Pembalap RX Kingx</span>
                                </div>
                                <p>“Fin sangat membantu saya mendapatkan motor pertama saya. Prosesnya cepat dan tidak ribet. Sangat direkomendasikan!”</p>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <img src="img/testi/arda.jpg" alt="client image">
                                <div class="client-info">
                                    <h3>Arda Saputra</h3>
                                    <span>CEO Ayam Bakar Asep</span>
                                </div>
                                <p>“Saya menggunakan Fin untuk membeli perlengkapan rumah tangga. Timnya responsif dan sistemnya mudah dipahami.”</p>
                            </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <img src="img/testi/arya.jpg" alt="client image">
                                <div class="client-info">
                                    <h3>Arya Nugraha</h3>
                                    <span>Traveler Bandung</span>
                                </div>
                                <p>“Pinjaman di Fin sangat transparan. Tidak ada biaya tersembunyi. Cocok untuk yang baru pertama kali mengajukan kredit.”</p>
                            </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <img src="img/testi/dhito.jpg" alt="client image">
                                <div class="client-info">
                                    <h3>Dhito Pratama</h3>
                                    <span>CEO Nasi Uduk Bu Puji</span>
                                </div>
                                <p>“Saya terbantu sekali dengan program cicilan dari Fin. Sekarang saya bisa punya laptop untuk bekerja dari rumah.”</p>
                            </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <img src="img/testi/julius.jpg" alt="client image">
                                <div class="client-info">
                                    <h3>Julius Adrian</h3>
                                    <span>DPR</span>
                                </div>
                                <p>“Layanan Fin sangat memuaskan. Semua proses dilakukan online dan verifikasi datanya cepat.”</p>
                            </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <img src="img/testi/ray.jpg" alt="client image">
                                <div class="client-info">
                                    <h3>Fauzi</h3>
                                    <span>Programmer Zaman Now</span>
                                </div>
                                <p>“Berkat Fin, saya bisa membayar uang masuk kuliah tanpa harus menunggu lama. Terima kasih Fin!”</p>
                            </div>
                        </ng-template>

                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <img src="img/testi/alif.jpg" alt="client image">
                                <div class="client-info">
                                    <h3>Alif Ramadhan</h3>
                                    <span>Kang Tujah</span>
                                </div>
                                <p>“Pengalaman saya dengan Fin sangat baik. Pelayanannya ramah dan bunga cicilannya masuk akal.”</p>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
        <div class="testimonial-shape">
            <img src="img/shape/1.png" alt="shape">
            <img src="img/shape/2.png" alt="shape">
            <img src="img/shape/3.png" alt="shape">
            <img src="img/shape/4.png" alt="shape">
            <img src="img/shape/5.png" alt="shape">
        </div>
    </div>
</div>