<div class="counter-section pt-100 pb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 offset-lg-1">
                <div class="row">
                    <div class="col-lg-2 col-6 col-md-3">
                        <div class="counter-text">
                            <i class="flaticon-value"></i>
                            <h2><span class="counter">11</span>K</h2>
                            <p>Unduhan</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <div class="counter-text">
                            <i class="flaticon-rating"></i>
                            <h2><span class="counter">950</span>+</h2>
                            <p>Bintang 4+</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <div class="counter-text">
                            <i class="flaticon-clipboard"></i>
                            <h2><span class="counter">5</span>+</h2>
                            <p>Pengajuan</p>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
    <div class="counter-img">
        <img src="img/sass-landing/banner.png" alt="laptop" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0,0,0,0.3);">
        
    </div>
</div>